nats:
  config:
    cluster:
      enabled: true
      replicas: 3

    jetstream:
      enabled: true
  promExporter:
    enabled: true

observability:
  enabled: true
  namespace: monitoring
  releaseLabel: kube-prometheus-stack
  podMonitor:
    name: nats
