nats:
  namespaceOverride: nats-dev

  config:
    jetstream:
      fileStore:
        pvc:
          size: 5Gi

  container:
    env:
      GOMEMLIMIT: 400MiB
    merge:
      resources:
        requests:
          cpu: "500m"
          memory: 512Mi
        limits:
          cpu: "500m"
          memory: 512Mi

  podTemplate:
    topologySpreadConstraints:
      kubernetes.io/hostname:
        maxSkew: 1
        whenUnsatisfiable: DoNotSchedule

  natsBox:
    enabled: true
