nats:
  namespaceOverride: nats

  config:
    jetstream:
      fileStore:
        pvc:
          size: 20Gi

  container:
    env:
      GOMEMLIMIT: 800MiB
    merge:
      resources:
        requests:
          cpu: "1"
          memory: 1Gi
        limits:
          cpu: "1"
          memory: 1Gi

  podTemplate:
    topologySpreadConstraints:
      kubernetes.io/hostname:
        maxSkew: 1
        whenUnsatisfiable: DoNotSchedule

  natsBox:
    enabled: false
