apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../components/operator
  - ../../components/cluster
  - ../../components/observability

patches:
  - target:
      kind: Cluster
      name: app-db
    patch: |-
      - op: replace
        path: /spec/instances
        value: 3
      - op: replace
        path: /spec/storage/size
        value: 10Gi
